.LoginButton{
 -fx-background-color: linear-gradient(to right, #07F49E, #6F7BF7);
}
.GreenButton{
 -fx-background-color: #07F49E;
 -fx-background-radius : 15px;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 2);

}
.PanelWhite{
 -fx-background-color: white;
 -fx-background-radius : 15px;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 2);

}

.PanelFun{
-fx-background-color: transparent
}
.body{
 -fx-background-color: linear-gradient(to top, #C2C7FC, white);
}
.bodyGreen{
 -fx-background-color: linear-gradient(to bottom, #B4FBE1, white);
}
.PurpleButton{
 -fx-background-color: #6F7BF7;
 -fx-background-radius : 10px;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 2);

}
.PinkButton{
 -fx-background-color: #F40779;
 -fx-background-radius : 10px;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 2);

}
.MenuSButton{
 -fx-border-color: rgba(196, 196, 196, 0.8);
 -fx-background-color: 000;
 -fx-border-style: hidden solid hidden solid;


}


#backgroundLeft{
 -fx-background-color: linear-gradient(to bottom left, #07F49E, #6F7BF7);
}
.MenuSuperior{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);
-fx-background-radius: 0px 0px 6px 6px ;
}

.MenuLateral{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);
-fx-background-radius: 0px 0px 30px 0px ;
}
.MenuVenda{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 0);

}
.backgroundright{
 -fx-background-color: linear-gradient(to bottom left,  #07F49E,white);
}
.input{
-fx-background-color: F3F3F3;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
-fx-background-radius: 10;
}
.table{
-fx-background-color: C5FCE9;
-fx-text-fill:black;
-fx-alignment:center;
-fx-font-size: 15px

}
.inputText{
-fx-font-size: 15px
-fx-text-fill:black;
}